:root{
    /*COLORS*/
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    --blue: hsl(248, 32%, 49%);

    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);

    /*TYPOGRAPHY*/
    --body-font-size: 16px;
    --body-font-family: 'Poppins', sans-serif; /* 400 to 700 */

    /*LAYOUT SIZES*/
    --layout-height: 35em;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* GLOBAL */

a, em{
    font-style: normal;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;

    background-color: var(--red);
    background-image: url(images/bg-intro-desktop.png);

    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
}

.l-frame{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.l-content{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: var(--layout-height);
    width: 36em;
    /* outline: 1px green solid; */

    padding-right: 5em;
    box-sizing: border-box; /* No deformation while adding padding */

    color: white;
}

.main-title{
    margin: .5em 0 .5em 0;
    font-size: 3em;
    font-weight: 600;
    line-height: 1em;
}

.l-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    height: var(--layout-height);
    width: 34em;
    /* outline: 1px red solid; */
}

.l-form-field{
    width: inherit;
    border-radius: 12px;
    box-shadow: 0 7px rgba(0, 0, 0, .15);
}

.btn-trial{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3.8em;

    background: var(--blue);
    color: white;

    font-weight: 700;
}

.l-form-signup{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 29.7em;

    background: white;
}

.field{
	height: 56px; /* 4.3em ou 56px */
	width: 460px; /* 34.8em ou 460px */
    /* Allows submit type input being same width as other inputs */
    box-sizing: border-box;
	
	margin-bottom: 20px; /* 1.4em ou 20px */
	
    border: 1px solid var(--grayish-blue);
	border-radius: 5px;
}

.field:first-child{
    margin-top: 3em;
}

.field::placeholder{
    padding-left: 2em;

    font-weight: 600;
    font-size: 1.1em;
}

.btn-claim-trial{
    padding-top: 6px;

    background: var(--green);
    color: white;

    font-size: .9em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.terms{
    margin-top: -5px;

    font-size: .7em;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
  